{% extends "index.html" %}
    <!-- Custom styles for this template -->
<!--    <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">-->


{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="form-signin w-100 m-auto">

<div class="container">
    <h2>Update Candidate Info</h2>
    <br>
    <form method="POST" action="{{ url_for('candidate.update_candidate', candidate_id=candidate.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.first_name.label(class="control-label") }}
            {{ form.first_name(class="form-control form-control-lg", value=candidate.first_name) }}
            {% for error in form.first_name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.last_name.label(class="control-label") }}
            {{ form.last_name(class="form-control form-control-lg", value=candidate.last_name) }}
            {% for error in form.last_name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.position.label(class="control-label") }}
            {{ form.position(class="form-control form-control-lg", value=candidate.position) }}
            {% for error in form.position.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <br>
        <button type="submit" class="btn btn-outline-info">Update Candidate</button>
    </form>
</div>

</main>
{% endblock %}
